@charset "UTF-8";
.marker {
  position: relative;
}
.marker::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13px;
  background: repeating-linear-gradient(-45deg, #c9f1d1, #c9f1d1 2px, #fff 2px, #fff 4px);
  z-index: -1;
}

/* -------------------ナビ------------------- */
ul.nav-header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  text-align: right;
  z-index: 700;
  text-shadow: 0px 0px 4px #fff;
}
@media screen and (max-width: 768px) {
  ul.nav-header {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
    background: #ffffff;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 90%;
    font-size: 35px;
    transform: translateX(100%);
    transition: 0.3s ease;
    text-align: center;
  }
}
ul.nav-header li {
  display: inline-block;
  font-weight: bold;
}
ul.nav-header li:last-of-type {
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  ul.nav-header li:last-of-type {
    margin-right: 0;
  }
}
ul.nav-header li a {
  display: block;
  padding: 14px 18px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
ul.nav-header li a:hover {
  color: #ff0000;
}
@media screen and (max-width: 768px) {
  ul.nav-header li a {
    color: #000000;
    padding: 15px;
  }
}

.nav-drawer__button {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
  width: 70px;
  height: 70px;
  background-color: transparent;
  z-index: 800;
}
.nav-drawer__button span {
  display: block;
  position: relative; /* ３本線の基準にする */
  top: 0;
  width: 30px;
  height: 3px;
  background-color: #000;
  transition: 0.3s ease;
  margin: 0 auto;
  z-index: 999;
}
.nav-drawer__button span::before, .nav-drawer__button span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%; /* 親要素の幅になる */
  height: 3px;
  transition: all 0.3s;
  background-color: inherit; /* 親から継承する */
}
.nav-drawer__button span::before {
  top: -12px;
}
.nav-drawer__button span::after {
  top: 12px;
}

body.open .nav-drawer__button {
  z-index: 999;
}
body.open .nav-drawer__button span {
  width: 30px;
  background-color: transparent;
}
body.open .nav-drawer__button span::before, body.open .nav-drawer__button span::after {
  top: 0;
}
body.open .nav-drawer__button span::before {
  transform: rotate(45deg);
  background-color: #ff0000;
}
body.open .nav-drawer__button span::after {
  transform: rotate(-45deg);
  background-color: rgb(255, 0, 0);
}

body.open .nav-header {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .nav-drawer__button {
    display: none;
  }
}
/* -------------------スリック------------------- */
.banner ul.slick-b {
  margin-bottom: 10px;
}
.banner .slick-slide img {
  margin: 0 auto;
  height: 250px;
}
.banner .slick-prev:before,
.banner .slick-next:before {
  color: rgba(208, 154, 212, 0.4);
  font-size: 30px;
}
.banner .slick-dots li button:before {
  color: #e27cfb;
}
.banner .slick-dots li.slick-active button:before {
  color: #ec1a1a;
}
.banner .slick-dots {
  bottom: -35px;
  color: #ec1a1a;
}

/* -------------------top------------------- */
.pagetop {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 900;
}
.pagetop img {
  width: 35px;
}
@media screen and (max-width: 768px) {
  .pagetop {
    right: 10px;
  }
  .pagetop img {
    width: 30px;
  }
}

/* -------------------フッター------------------- */
.footer {
  text-align: center;
  margin-top: 50px;
  -webkit-clip-path: polygon(0 0, 100% 80%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 80%, 100% 100%, 0 100%);
  background-color: #ffb2b2;
  padding: 110px 0 15px;
}
@media screen and (max-width: 768px) {
  .footer {
    -webkit-clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
    padding: 60px 0 10px;
  }
}

/* -------------------ボタン------------------- */
.btn,
a.btn,
button.btn {
  font-weight: bold;
  display: inline-block;
  padding: 0.8rem 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn--yellow {
  color: #000;
  background-color: #ffe15a;
  border-bottom: 3px solid #dfb84f;
}

a.btn--yellow:hover {
  margin-top: 2px;
  color: #000;
  background: #ffe15a;
  border-bottom: 1px solid #d89c4d;
}

/* -------------------ロード------------------- */
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.loading-animation img {
  max-width: 700px;
}
@media screen and (max-width: 1199px) {
  .loading-animation img {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .loading-animation img {
    width: 70%;
  }
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Reem Kufi", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.hover {
  display: block;
}
.hover img {
  transition: 0.3s;
  display: block;
  width: 100%;
}
.hover:hover img {
  opacity: 0.8;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}
figcaption {
  font-size: 13px;
  line-height: 1.3rem;
  margin-top: 8px;
  color: #797979;
  letter-spacing: 0.05rem;
}
figcaption span {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.naname {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #e2ffff;
  -webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
  top: -120px;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  .naname {
    height: 180px;
    -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
            clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
    top: -70px;
  }
}

.naname2 {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #E8FFE2;
  -webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
  top: -120px;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  .naname2 {
    height: 180px;
    -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
            clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
    top: -70px;
  }
}

.naname3 {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #fffb8a;
  -webkit-clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 80%);
  top: -120px;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  .naname3 {
    height: 180px;
    -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
            clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 80%);
    top: -70px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  /* rotate回転 */
  50% {
    transform: rotate(180deg);
  }
  /* 30%で180度回転 */
  100% {
    transform: rotate(360deg);
  }
}
.sample3 {
  animation: loading 8s linear 0s infinite;
}

@keyframes heart {
  /* 同じスタイルの場合はまとめ指定可能 0％,8% */
  0%, 8% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.sample4 {
  animation: heart 3s ease-in-out 0s infinite normal;
}

@keyframes heart {
  0%, 8% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.sample5 {
  animation: heart 4s ease-in-out 0s infinite normal;
}

.s-page p {
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  color: #797979;
}

h2 {
  font-size: 30px;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  color: #000;
  font-size: 20px;
  -moz-text-align-last: left;
       text-align-last: left;
}
h3::before {
  content: "◆";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

h4 {
  font-size: 19px;
}

.url {
  font-size: 15px;
  text-align: center;
  padding: 30px;
}
.url a {
  color: #797979;
  text-decoration: underline;
}
.url a:hover {
  color: #ff0000;
}
.url a span {
  font-weight: bold;
}

.page-inner {
  margin: 30px auto;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1199px) {
  .page-inner {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .page-inner {
    flex-direction: column;
    width: 90%;
  }
}

.page-txt {
  width: 40%;
  margin: 0px;
  font-size: 14px;
  line-height: 1.7em;
}
.page-txt p {
  color: #4e4e4e;
  margin: 15px auto 25px;
}
@media screen and (max-width: 768px) {
  .page-txt {
    width: 100%;
  }
}

.page-ex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  color: #797979;
  padding-bottom: 30px;
}
.page-ex p {
  font-size: 14px;
  line-height: 1.7em;
}
.page-ex p::first-line {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .page-ex p {
    margin: 10px auto;
  }
}
@media screen and (max-width: 768px) {
  .page-ex {
    width: 100%;
  }
}

.p-back {
  text-align: center;
  padding-top: 70px;
}
.p-back a {
  color: #797979;
}
.p-back a:hover {
  color: #ff0000;
}

/* -------------------ハナカフェ------------------- */
.page-hanalogo {
  margin-top: 20px;
}
.page-hanalogo p {
  text-align: center;
  font-weight: bold;
}
.page-hanalogo p::before {
  content: "◆";
}
.page-hanalogo img {
  width: 400px;
  display: block;
  margin: 2px auto 70px;
}
@media screen and (max-width: 768px) {
  .page-hanalogo img {
    width: 80%;
  }
}

.sliderArea {
  width: 1000px;
  margin: 80px auto 50px;
  padding: 0 25px;
}
@media screen and (max-width: 1199px) {
  .sliderArea {
    width: 95%;
    padding: 0 5px;
  }
}
@media screen and (max-width: 768px) {
  .sliderArea {
    width: 100%;
    padding: 0 5px;
  }
}

.slick-slide img {
  margin: 0 auto;
  height: 520px;
}
@media screen and (max-width: 1199px) {
  .slick-slide img {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .slick-slide img {
    height: 200px;
  }
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: #ececec;
}
@media screen and (max-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
  }
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.thumb {
  margin: 20px 0 0;
}

.thumb .slick-slide {
  cursor: pointer;
}

.thumb .slick-slide:hover {
  opacity: 0.7;
}

.slick-next {
  right: -15px;
}
@media screen and (max-width: 768px) {
  .slick-next {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: 0;
  }
}

.slick-dots li button:before {
  color: #ff5c5c;
}

/* -------------------ロゴ------------------- */
.logo h2 {
  margin: 130px auto 40px;
  font-size: 23px;
}
.logo .logo-inner {
  max-width: 90%;
  margin: 0 auto 20px;
}
@media screen and (max-width: 768px) {
  .logo .logo-inner {
    width: 100%;
  }
}
.logo .logo-inner img {
  max-width: 500px;
  margin: 10px;
  border: solid 1px #e9e9e9;
}
@media screen and (max-width: 768px) {
  .logo .logo-inner img {
    margin: 10px 0;
  }
}
.logo .logo-inner ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo p {
  font-size: 14px;
  color: #797979;
}
.logo .logo-inner2 {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.logo .logo-inner2 img {
  max-width: 300px;
  margin: 0 3px;
}
@media screen and (max-width: 768px) {
  .logo .logo-inner2 img {
    width: 220px;
  }
}
@media screen and (max-width: 1199px) {
  .logo .logo-inner2 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .logo .logo-inner2 {
    display: flex;
    flex-wrap: wrap;
  }
}

/* -------------------LPサイト------------------- */
.lp {
  text-align: center;
  margin: 50px auto;
}
.lp a {
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .lp a {
    margin: 10px auto;
  }
}/*# sourceMappingURL=page.css.map */